<!-- list -->
<ul class="wraplist wrapper-menu">

    <li class="menusection">Main</li>

    <li ui-sref-active="active">
        <a ui-sref="app.dashboard" class="nosub">
            <i class="fa fa-dashboard"></i>
            <span class="title">Dashboard</span>
        </a>
    </li>

    <li ng-if="userType == 'subscriber'" class="menusection">Subscriber Only</li>

    <li ng-if="userType == 'subscriber'" ui-sref-active="active">
        <a ui-sref="app.ui.search" class="nosub">
            <i class="fa fa-edit"></i>
            <span class="title">Search</span>
        </a>
    </li>

    <li ng-if="userType == 'subscriber'" ui-sref-active="active">
        <a ui-sref="app.paymenthistory" class="nosub">
            <i class="fa fa-money"></i>
            <span class="title">Payment History</span>
        </a>
    </li>


    <li class="menusection">Subscriber AND Influencer</li>

    <li ui-sref-active="active">
        <a ui-sref="app.ui.profile" class="nosub">
            <i class="fa fa-user"></i>
            <span class="title">Profile ('Home')</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.ui.videoembed" class="nosub">
            <i class="fa fa-video-camera"></i>
            <span class="title">Single Video Pg</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.ui.members" class="nosub">
            <i class="fa fa-edit"></i>
            <span class="title">Explore Artists</span>
        </a>
    </li>


    <li ng-if="userType == 'influencer'" class="menusection">INFLUENCER ONLY</li>

    <li ng-if="userType == 'influencer'" ui-sref-active="active">
        <a ui-sref="#" class="nosub">
            <i class="fa fa-users"></i>
            <span class="title">Subscribers</span>
            <span class="label label-success">4</span>
        </a>
    </li>

    <li ng-if="userType == 'influencer'" ui-sref-active="active">
        <a ui-sref="#" class="nosub">
            <i class="fa fa-usd"></i>
            <span class="title">Income</span>
        </a>
    </li>

    <li ng-if="userType == 'influencer'" ui-sref-active="active">
        <a ui-sref="#" class="nosub">
            <i class="fa fa-share"></i>
            <span class="title">Payouts</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.settings" class="nosub">
            <i class="fa fa-cog"></i>
            <span class="title">Settings</span>
        </a>
    </li>


    <li class="menusection">FUTURE FEATURES...</li>

    <li ng-if="userType == 'influencer'" ui-sref-active="active">
        <a ui-sref="app.mail.list" class="nosub">
            <i class="fa fa-envelope"></i>
            <span class="title">MailBox</span>
            <span class="label label-accent">4</span>
        </a>
    </li>

    <li ng-if="userType == 'influencer'" ui-sref-active="active">
        <a ui-sref="app.ui.calendar" class="nosub">
            <i class="fa fa-calendar"></i>
            <span class="title">Calendar</span>
        </a>
    </li>

    <li ng-if="userType == 'influencer'" ui-sref-active="active">
        <a ui-sref="app.store" class="nosub">
            <i class="fa fa-shopping-cart"></i>
            <span class="title">My Store</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.widgets" class="nosub">
            <i class="fa fa-cogs"></i>
            <span class="title">Widgets</span>
        </a>
    </li>

    <li class="menusection">Charts</li>

    <li href class="auto">
        <a href="javascript:;">
            <i class="fa fa-line-chart"></i>
            <span class="title">ChartJs</span>
            <span class="arrow material-icons">keyboard_arrow_left</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.charts.chartjsline">Line & Area Charts</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.charts.chartjsbar">Bar Charts</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.charts.chartjspie">Pie & Donut Charts</a>
            </li>
        </ul>
    </li>


    <li href class="auto">
        <a href="javascript:;">
            <i class="fa fa-bar-chart"></i>
            <span class="title">Flot Charts</span>
            <span class="arrow material-icons">keyboard_arrow_left</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.charts.flotcomposite">Composite Charts</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.charts.flotline">Line Charts</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.charts.flotpie">Pie Charts</a>
            </li>
        </ul>
    </li>


    <li href class="auto">
        <a href="javascript:;">
            <i class="fa fa-area-chart"></i>
            <span class="title">Rickshaw Charts</span>
            <span class="arrow material-icons">keyboard_arrow_left</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.charts.rickshawinteractive">Interactive Charts</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.charts.rickshawline">Line & Area Charts</a>
            </li>
        </ul>
    </li>


    <li ui-sref-active="active">
        <a ui-sref="app.charts.easypiechart" class="nosub">
            <i class="fa fa-pie-chart"></i>
            <span class="title">Pie & Knob Charts</span>
        </a>
    </li>


    <li class="menusection">Forms</li>

    <li href class="auto">
        <a href="javascript:;">
            <i class="fa fa-check-square-o"></i>
            <span class="title">Forms</span>
            <span class="arrow material-icons">keyboard_arrow_left</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.form.elements">
                    <i class="fa fa-pencil"></i>
                    <span class="title">Field Elements</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.form.components">
                    <i class="fa fa-sliders"></i>
                    <span class="title">Forms Components</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.form.wizard" class="nosub">
                    <i class="fa fa-dot-circle-o"></i>
                    <span class="title">Form Wizard</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.form.validation" class="nosub">
                    <i class="fa fa-warning"></i>
                    <span class="title">Form Validations</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.form.editors" class="nosub">
                    <i class="fa fa-text-width"></i>
                    <span class="title">Form Editors</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.form.masks" class="nosub">
                    <i class="fa fa-terminal"></i>
                    <span class="title">Form Input Masks</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.form.editable" class="nosub">
                    <i class="fa fa-pencil"></i>
                    <span class="title">Form Xeditable</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.form.premade" class="nosub">
                    <i class="fa fa-tasks"></i>
                    <span class="title">Pre made Forms</span>
                </a>
            </li>
        </ul>
    </li>


    <li class="menusection">Page Kits</li>

    <li href class="auto">
        <a href="javascript:;">
            <i class="fa fa-lock"></i>
            <span class="title">Access Pages</span>
            <span class="arrow material-icons">keyboard_arrow_left</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">

            <li ui-sref-active="active">
                <a ui-sref="access.login">Login</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="access.register">Registration</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="access.forgotpwd">Forgot Password</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="access.lockscreen">Lock Screen</a>
            </li>

        </ul>
    </li>

    <li href class="auto">
        <a href="javascript:;">
            <i class="fa fa-warning"></i>
            <span class="title">Error Pages</span>
            <span class="arrow material-icons">keyboard_arrow_left</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="access.403">403</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="access.404">404</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="access.405">405</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="access.408">408</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="access.500">500</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="access.503">503</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="access.offline">Offline</a>
            </li>
        </ul>
    </li>


    <li ui-sref-active="active">
        <a ui-sref="app.ui.timeline" class="nosub">
            <i class="fa fa-ellipsis-v"></i>
            <span class="title">Timeline</span>
        </a>
    </li>






    <li class="menusection">User Interface</li>

    <li href class="auto">
        <a href="javascript:;">
            <i class="fa fa-table"></i>
            <span class="title">Tables</span>
            <span class="arrow material-icons">keyboard_arrow_left</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.tables.basic">Basic</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.tables.data">DataTables</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.tables.footable">Footable</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.tables.smart">Smart</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.tables.uigrid">uiGrid</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.tables.editable">Editable</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.tables.nggrid">ngGrid</a>
            </li>
        </ul>
    </li>

    <li class="menusection">Extensions</li>

    <li ui-sref-active="active">
        <a ui-sref="app.form.fileupload" class="nosub">
            <i class="fa fa-upload"></i>
            <span class="title">File Upload</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.ui.imagecrop" class="nosub">
            <i class="fa fa-file-image-o"></i>
            <span class="title">Image cropper</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.ui.sortable" class="nosub">
            <i class="fa fa-sort-amount-asc"></i>
            <span class="title">Sortable & Nestable</span>
        </a>
    </li>

</ul>
