<!-- SIDEBAR - START -->
<perfect-scrollbar class="page-sidebar-wrapper" id="main-menu-wrapper" wheel-propagation="true" suppress-scroll-x="true" min-scrollbar-length="20" menuheight>
    <!-- USER INFO - START -->
    <div class="profile-info">
        <div class="profile-image col-xs-4 text-center">
            <a ui-sref="app.ui.profile">
                <img src="data/profile/profile.jpg" class="img-responsive">
                <span class="profile-status available"></span>
            </a>
        </div>
        <div class="profile-details col-xs-8">
            <h3>
                <a ui-sref="app.ui.profile">Cliff Canan</a>
            </h3>
            <p class="profile-title">YouTube Handle</p>
        </div>
    </div>
    <!-- USER INFO - END -->

    <nav ui-nav ng-include="'partials/components/nav.html'"></nav>

</perfect-scrollbar>
<!--  SIDEBAR - END -->
