<!-- list -->
<ul class="wraplist wrapper-menu">
   
<li class="menusection">Main</li>
   
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard" class="nosub">
            <i class="fa fa-dashboard"></i>
            <span class="title">Dashboard</span>
        </a>
    </li>

<li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-columns"></i>
                                <span class="title">Layouts</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk">
                                <li ui-sref-active="active">
                                    <a class="active" ui-sref="app.layout.default">Default</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.layout.collapsed">Collapsed Menu</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.layout.chat">Chat Open</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.layout.boxed">Boxed</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.layout.boxedcollapsed">Boxed Collapsed Menu</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.layout.boxedchat">Boxed Chat Open</a>
                                </li>
                            </ul>
                        </li>



<li class="menusection">Applications</li>
   


    <li ui-sref-active="active">
        <a ui-sref="app.ui.calendar" class="nosub">
            <i class="fa fa-calendar"></i>
            <span class="title">Calendar</span>
        </a>
    </li>

                 <!-- <li class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-envelope"></i>
                                <span class="title">Mailbox</span>
                                <span class="arrow material-icons"></span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.mail.list">Inbox</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.mail.compose">Compose</a>
                                </li>
                            </ul>
                        </li> -->


                        <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-envelope"></i>
                                <span class="title">MailBox</span><span class="label label-accent">4</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.mail.list">Inbox</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.mail.compose">Compose</a>
                                </li>
                            </ul>
                        </li>

                        <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-bullseye"></i>
                                <span class="title">Widgets</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >

                                <li ui-sref-active="active">
                                    <a ui-sref="app.widgetssocialmedia">Social Media</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.widgets">Miscellaneous</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.widgetsprogress">Progress Tiles</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.widgetscounter">Counter Tiles</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.widgetsgraphs">Graphs</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.widgetstodo">To Do Tasks</a>
                                </li>

                            </ul>
                        </li>





<li class="menusection">Data Visulizations</li>
   


    <!-- <li ui-sref-active="active">
        <a ui-sref="app.charts.echart" class="nosub">
            <i class="fa fa-">equalizer</i>
            <span class="title">Echarts</span>
        </a>
    </li> -->

                    <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-area-chart"></i>
                                <span class="title">Morris Charts</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.morrisline">Line Charts</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.morrisbar">Bar Charts</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.morrispie">Pie & Donut Charts</a>
                                </li>
                            </ul>
                        </li>

<li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-line-chart"></i>
                                <span class="title">ChartJs</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.chartjsline">Line & Area Charts</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.chartjsbar">Bar Charts</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.chartjspie">Pie & Donut Charts</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.chartjsradar">Polar & Radar Charts</a>
                                </li>
                            </ul>
                        </li>


<li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-bar-chart"></i>
                                <span class="title">Flot Charts</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.flotcomposite">Composite Charts</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.flotline">Line Charts</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.flotstacked">Stacked Charts</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.flotpie">Pie Charts</a>
                                </li>
                            </ul>
                        </li>


<li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-area-chart"></i>
                                <span class="title">Rickshaw Charts</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.rickshawinteractive">Interactive Charts</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.rickshawline">Line & Area Charts</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.rickshawbar">Bar & Stacked Charts</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.rickshawrealtime">Real Time Charts</a>
                                </li>
                            </ul>
                        </li>


<li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-circle-o-notch"></i>
                                <span class="title">Knobs Charts</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.knobs">Knobs Charts</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.knobsclock">Knobs Clock</a>
                                </li>
                            </ul>
                        </li>


<li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-line-chart"></i>
                                <span class="title">Sparkline Charts</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.sparklinearea">Line & Area Charts</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.sparklinebar">Bar & Stacked Charts</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.sparklineother">Other Charts</a>
                                </li>

                            </ul>
                        </li>

    <li ui-sref-active="active">
        <a ui-sref="app.charts.easypiechart" class="nosub">
            <i class="fa fa-pie-chart"></i>
            <span class="title">Easy Pie Charts</span>
        </a>
    </li>



<li class="menusection">Forms</li>
   

                        <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-check-square-o"></i>
                                <span class="title">Forms elements</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.elements">Field Elements</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.elementsgrid">Form Grid</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.elementscheck">Checkbox & Radio</a>
                                </li>
                            </ul>
                        </li>


                        <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-sliders"></i>
                                <span class="title">Forms Components</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.componentsdate">Date Picker</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.componentstime">Time Picker</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.componentsrating">Rating</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.componentstags">Tags</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.componentschosen">Chosen (Select Boxes)</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.componentsdaterange">Date Range</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.componentscolor">Color Picker</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.componentsspinner">Spinners</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.componentstype">Typeahead</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.componentsswitches">Switches</a>
                                </li>

                            </ul>
                        </li>

    <li ui-sref-active="active">
        <a ui-sref="app.form.wizard" class="nosub">
            <i class="fa fa-dot-circle-o"></i>
            <span class="title">Form Wizard</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.form.validation" class="nosub">
            <i class="fa fa-warning"></i>
            <span class="title">Form Validations</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.form.editors" class="nosub">
            <i class="fa fa-text-width"></i>
            <span class="title">Form Editors</span>
        </a>
    </li> 


    <li ui-sref-active="active">
        <a ui-sref="app.form.masks" class="nosub">
            <i class="fa fa-terminal"></i>
            <span class="title">Form Input Masks</span>
        </a>
    </li> 

    <li ui-sref-active="active">
        <a ui-sref="app.form.editable" class="nosub">
            <i class="fa fa-pencil"></i>
            <span class="title">Form Xeditable</span>
        </a>
    </li> 

    <li ui-sref-active="active">
        <a ui-sref="app.form.slider" class="nosub">
            <i class="fa fa-sliders"></i>
            <span class="title">Form Sliders</span>
        </a>
    </li> 

    <li ui-sref-active="active">
        <a ui-sref="app.form.premade" class="nosub">
            <i class="fa fa-tasks"></i>
            <span class="title">Pre made Forms</span>
        </a>
    </li> 



<li class="menusection">Page Kits</li>



                           <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-lock"></i>
                                <span class="title">Access Pages</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >

                                <li ui-sref-active="active">
                                    <a ui-sref="access.login">Login</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="access.register">Registration</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="access.forgotpwd">Forgot Password</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="access.lockscreen">Lock Screen</a>
                                </li>
                                
                            </ul>
                        </li>

                        <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-warning"></i>
                                <span class="title">Error Pages</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="access.403">403</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="access.404">404</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="access.405">405</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="access.408">408</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="access.500">500</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="access.503">503</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="access.offline">Offline</a>
                                </li>
                            </ul>
                        </li>

                           <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-edit"></i>
                                <span class="title">Blog & Search</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.blogs">Blogs</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.search">Search</a>
                                </li>
                            </ul>
                        </li>


                           <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-share-alt"></i>
                                <span class="title">Social Media</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                               
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.profile">User Profile</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.members">Members</a>
                                </li>
                            </ul>
                        </li>

    <li ui-sref-active="active">
        <a ui-sref="app.ui.timeline" class="nosub">
            <i class="fa fa-ellipsis-v"></i>
            <span class="title">Timeline</span>
        </a>
    </li> 


                           <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-dollar"></i>
                                <span class="title">Pricing Tables</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                               
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.pricingexpand">Expanded</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.pricingnarrow">Narrow</a>
                                </li>

                            </ul>
                        </li>


                           <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-money"></i>
                                <span class="title">Invoicing</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                               
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.invoicelist">Invoice List</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.invoiceadd">Add Invoice</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.invoiceedit">Edit Invoice</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.invoice">View Invoice</a>
                                </li>

                            </ul>
                        </li>



<li class="menusection">User Interface</li>


                    <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-puzzle-piece"></i>
                                <span class="title">Components</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                               
                               <li ui-sref-active="active">
                                    <a ui-sref="app.ui.accordion">Accordions</a>
                                </li>
                               <li ui-sref-active="active">
                                    <a ui-sref="app.ui.tabs">Tabs</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.tooltips">Tooltips</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.popovers">Popovers</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.buttons">Buttons</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.progress">Progress Bars</a>
                                </li>

                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.modals">Modals</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.notifications">Notifications</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.alert">Alerts</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.carousel">Carousel Slider</a>
                                </li>

                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.breadcrumb">Breadcrumbs</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.pagination">Pagination</a>
                                </li>

                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.navbars">Navbars</a>
                                </li>

                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.dropdowns">Dropdowns</a>
                                </li>
                            </ul>
                        </li>



                    <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-th-large"></i>
                                <span class="title">Appearance</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                               <li ui-sref-active="active">
                                    <a ui-sref="app.ui.typography">Typography</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.grids">Grids</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.grouplisting">Group Listing</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.videoembed">Video Embed</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.panels">Section Panels</a>
                                </li>
                            </ul>
                        </li>



                    <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-thumbs-up"></i>
                                <span class="title">Icon Sets</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.materialicons">Material Icons</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.faicons">FontAwesome Icons</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.glyphicons">Glyph Icons</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.icons">All Icons</a>
                                </li>

                            </ul>
                        </li>

    

                        <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-table"></i>
                                <span class="title">Tables</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.basic">Basic</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.data">DataTables</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.footable">Footable</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.smart">Smart</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.uigrid">uiGrid</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.editable">Editable</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.nggrid">ngGrid</a>
                                </li>
                            </ul>
                        </li>
                        



<li class="menusection">Maps</li>                       

<li ui-sref-active="active">
        <a ui-sref="app.ui.vectormaps" class="nosub">
            <i class="fa fa-map-marker"></i>
            <span class="title">Vector Map</span>
        </a>
    </li> 

<li ui-sref-active="active">
        <a ui-sref="app.ui.googlemapfull" class="nosub">
            <i class="fa fa-map-marker"></i>
            <span class="title">Google Map</span>
        </a>
    </li>

<li class="menusection">Extensions</li>


<li ui-sref-active="active">
        <a ui-sref="app.form.fileupload" class="nosub">
            <i class="fa fa-upload"></i>
            <span class="title">File Upload</span>
        </a>
    </li> 


<li ui-sref-active="active">
        <a ui-sref="app.ui.imagecrop" class="nosub">
            <i class="fa fa-file-image-o"></i>
            <span class="title">Image cropper</span>
        </a>
    </li>

<li ui-sref-active="active">
        <a ui-sref="app.ui.sortable" class="nosub">
            <i class="fa fa-sort-amount-asc"></i>
            <span class="title">Sortable & Nestable</span>
        </a>
    </li>








<li class="menusection">Navigation</li>
                        <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-folder-open"></i>
                                <span class="title">Menu Levels</span>
                                <span class="arrow material-icons">keyboard_arrow_left</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a>Level 1.1<span class="arrow material-icons">keyboard_arrow_left</span></a>
                                    <ul class="wraplist wraplist-sub sub-menu dk" >
                                        <li ui-sref-active="active">
                                            <a>Level 2.1</a>
                                        </li>
                                        <li ui-sref-active="active">
                                            <a>Level 2.2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li ui-sref-active="active">
                                    <a>Level 1.2</a>
                                </li>
                                
                            </ul>
                        </li>



</ul>
<!-- / list -->
