<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Sparkline - Bar & Stacked Charts';">
  
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Bar</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div ng-init="data2=[10, 8, 5, 7, 4, 4, 7, 5, 2, 8, 10 , 7, 4, 5]" ui-jq="sparkline" ui-options="{{data2}}, {
                type: 'bar',
                barColor: '{{app.color.primary}}',
                height: '200',
                barWidth: '20',
                barSpacing: 1
                }" class="sparkline inline">Loading...
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Negative Bar</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div ng-init="data3=[8, 4, 3, 0, -2, -6, -3,  4, 3, 0, 3, -2, 4, 6, -4, 4]" ui-jq="sparkline" ui-options="{{data3}}, {
                type: 'bar',
                barColor: '{{app.color.primary}}',
                height: '200',
                barWidth: '20',
                barSpacing: 1,
                zeroAxis: true,
                negBarColor: '{{app.color.accent}}',
                zeroColor: '#E91E63'
                }" class="sparkline inline">Loading...
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Stacked Bar</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div ng-init="data4=[
                [1, 2, 2],
                [2, 4, 3],
                [4, 2, 4],
                [4, 5, 1],
                [4, 1, 2],
                [6, 6, 4],
                [2, 3, 2],
                [3, 2, 6],
                [2, 0, 2],
                [1, 2, 2],
                [2, 4, 3],
                [4, 2, 4],
                [4, 5, 1],
                [6, 2, 4],
                [7, 4, 2],
                [3, 4, 1],
                [3, 7, 4]
            ]" ui-jq="sparkline" ui-options="{{data4}}, {
                type: 'bar',
                barColor: '{{app.color.primary}}',
                height: '200',
                barWidth: '20',
                barSpacing: 1,
                zeroAxis: true,
                negBarColor: '{{app.color.accent}}',
                zeroColor: '#E91E63',
                stackedBarColor: ['#E91E63', '{{app.color.primary}}', '{{app.color.accent}}'],
                }" class="sparkline inline">Loading...
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
   
</div>
