<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Flot - Stacked Charts';">
    
    <div class="col-lg-12" ng-controller="FlotChartCtrl">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Stacked Bar</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div ui-jq="plot" ui-options="
              [ 
                { label: 'A', data: {{chart4_1}} },
                { label: 'B', data: {{chart4_2}} },
                { label: 'C', data: {{chart4_3}} }
              ],
              {
                bars: { show: true, fill: true, lineWidth: 1, order: 1, fillColor: { colors: [{ opacity: 1 }, { opacity: 1}] } },
                colors: ['{{app.color.primary}}', '{{app.color.warning}}', '{{app.color.accent}}'],
                series: { shadowSize: 4 },
                xaxis:{ font: { color: '#ccc' } },
                yaxis:{ font: { color: '#ccc' } },
                grid: { hoverable: true, clickable: true, tickColor: '#f5f5f5', borderWidth: 1, borderColor: '#eaeaea' },   
                tooltip: true
              }
            " style="height:300px"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
   
</div>
