<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Form - Checkbox & Radio Buttons';">
    
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Checkbox & Radio Buttons</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4>Checkboxes</h4>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 margin-bottom-15">
                        <h4>States</h4>
                        <div class="checkbox">
                            <label class="icheck">
                                <input type="checkbox" value="">
                                <i></i> Option
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="icheck">
                                <input type="checkbox" checked value="">
                                <i></i> Option checked
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="icheck">
                                <input type="checkbox" checked disabled value="">
                                <i></i> Option checked and disabled
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="icheck">
                                <input type="checkbox" disabled value="">
                                <i></i> Option disabled
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 margin-bottom-15">
                        <h4>Colors</h4>
                        <div class="checkbox">
                            <label class="icheck icheck-primary">
                                <input type="checkbox" value="" checked>
                                <i></i> Default (Primary)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="icheck icheck-accent">
                                <input type="checkbox" value="" checked>
                                <i></i> Accent
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="icheck icheck-primary">
                                <input type="checkbox" value="" checked>
                                <i></i> primary
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="icheck icheck-success">
                                <input type="checkbox" value="" checked>
                                <i></i> Success
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="icheck icheck-warning">
                                <input type="checkbox" value="" checked>
                                <i></i> Warning
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="icheck icheck-danger">
                                <input type="checkbox" value="" checked>
                                <i></i> Danger
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="icheck icheck-info">
                                <input type="checkbox" value="" checked>
                                <i></i> Info
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 margin-bottom-15">
                        <h4>Sizes</h4>
                        <div class="checkbox">
                            <label class="icheck icheck-sm">
                                <input type="checkbox" checked>
                                <i></i> Small size checkbox
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="icheck">
                                <input type="checkbox" checked>
                                <i></i> Default (Medium) size checkbox
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="icheck icheck-lg">
                                <input type="checkbox" checked>
                                <i></i> Large size checkbox
                            </label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4>Radio Buttons</h4>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 margin-bottom-15">
                        <h4>States</h4>
                        <div class="radio">
                            <label class="icheck">
                                <input type="radio" value="" name="opt1">
                                <i></i> Option
                            </label>
                        </div>
                        <div class="radio">
                            <label class="icheck">
                                <input type="radio" checked value="" name="opt2">
                                <i></i> Option checked
                            </label>
                        </div>
                        <div class="radio">
                            <label class="icheck">
                                <input type="radio" checked disabled value="" name="opt3">
                                <i></i> Option checked and disabled
                            </label>
                        </div>
                        <div class="radio">
                            <label class="icheck">
                                <input type="radio" disabled value="" name="opt4">
                                <i></i> Option disabled
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 margin-bottom-15">
                        <h4>Colors</h4>
                        <div class="radio">
                            <label class="icheck icheck-primary">
                                <input type="radio" value="" >
                                <i></i> Default (Primary)
                            </label>
                        </div>
                        <div class="radio">
                            <label class="icheck icheck-accent">
                                <input type="radio" value="" >
                                <i></i> Accent
                            </label>
                        </div>
                        <div class="radio">
                            <label class="icheck icheck-primary">
                                <input type="radio" value="" >
                                <i></i> primary
                            </label>
                        </div>
                        <div class="radio">
                            <label class="icheck icheck-success">
                                <input type="radio" value="" >
                                <i></i> Success
                            </label>
                        </div>
                        <div class="radio">
                            <label class="icheck icheck-warning">
                                <input type="radio" value="" checked>
                                <i></i> Warning
                            </label>
                        </div>
                        <div class="radio">
                            <label class="icheck icheck-danger">
                                <input type="radio" value="" checked>
                                <i></i> Danger
                            </label>
                        </div>
                        <div class="radio">
                            <label class="icheck icheck-info">
                                <input type="radio" value="" checked>
                                <i></i> Info
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 margin-bottom-15">
                        <h4>Sizes</h4>
                        <div class="radio">
                            <label class="icheck icheck-sm">
                                <input type="radio" checked>
                                <i></i> Small size radio
                            </label>
                        </div>
                        <div class="radio">
                            <label class="icheck">
                                <input type="radio" checked>
                                <i></i> Default (Medium) size radio
                            </label>
                        </div>
                        <div class="radio">
                            <label class="icheck icheck-lg">
                                <input type="radio" checked>
                                <i></i> Large size radio
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
</div>
