<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Form Components - Tags';">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Tags</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
                        <div class="form-group">
                            <label class="form-label" for="field-1">Default</label>
                            <span class="desc">(&lt;input&gt;)</span>
                            <div class="controls">
                                <input type="text" ui-jq="tagsinput" class="form-control" id="tagsinput-1" value="Sample tag, Another great tag, Awesome!" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-1">Select Tag</label>
                            <span class="desc">(&lt;select&gt;)</span>
                            <div class="controls">
                                <select multiple ui-jq="tagsinput">
                                    <option value="Amsterdam">Amsterdam</option>
                                    <option value="Washington">Washington</option>
                                    <option value="Sydney">Sydney</option>
                                    <option value="Beijing">Beijing</option>
                                    <option value="Cairo">Cairo</option>
                                    <option value="Paris">Paris</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    

</div>
