<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Form Components - Switches';">
    
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Switches</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <!-- START -->
                <div class='row'>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-switches">
                        <h4>Colors</h4>
                        <label class="iswitch iswitch-md bg-primary">
                            <input type="checkbox" checked>
                            <i></i>
                        </label>
                        <label class="iswitch iswitch-md bg-accent ">
                            <input type="checkbox" checked>
                            <i></i>
                        </label>
                        <label class="iswitch iswitch-md bg-secondary ">
                            <input type="checkbox" checked>
                            <i></i>
                        </label>
                        <label class="iswitch iswitch-md bg-danger ">
                            <input type="checkbox" checked>
                            <i></i>
                        </label>
                        <div class="clearfix"></div>
                        <label class="iswitch iswitch-md bg-success ">
                            <input type="checkbox" checked>
                            <i></i>
                        </label>
                        <label class="iswitch iswitch-md bg-warning ">
                            <input type="checkbox" checked>
                            <i></i>
                        </label>
                        <label class="iswitch iswitch-md bg-info ">
                            <input type="checkbox" checked>
                            <i></i>
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-switches">
                        <h4>Sizes</h4>
                        <label class="iswitch bg-primary ">
                            <input type="checkbox" checked>
                            <i></i>
                        </label>
                        <label class="iswitch bg-accent ">
                            <input type="checkbox" checked>
                            <i></i>
                        </label>
                        <div class="clearfix"></div>
                        <label class="iswitch iswitch-md bg-primary ">
                            <input type="checkbox" checked>
                            <i></i>
                        </label>
                        <label class="iswitch iswitch-md bg-accent ">
                            <input type="checkbox" checked>
                            <i></i>
                        </label>
                        <div class="clearfix"></div>
                        <label class="iswitch iswitch-lg bg-primary ">
                            <input type="checkbox" checked>
                            <i></i>
                        </label>
                        <label class="iswitch iswitch-lg bg-accent ">
                            <input type="checkbox" checked>
                            <i></i>
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-switches">
                        <h4>Radio Switch</h4>
                        <div class="form-group margin-bottom-0">
                            <label class="iswitch bg-primary ">
                                <input type="radio" name='switch1' checked>
                                <i></i>
                            </label>
                            <label class="iswitch bg-warning ">
                                <input type="radio" name='switch1'>
                                <i></i>
                            </label>
                        </div>
                        <div class="form-group margin-bottom-0">
                            <label class="iswitch bg-primary iswitch-md">
                                <input type="radio" name='switch2' checked>
                                <i></i>
                            </label>
                            <label class="iswitch bg-warning iswitch-md">
                                <input type="radio" name='switch2'>
                                <i></i>
                            </label>
                        </div>
                        <div class="form-group margin-bottom-0">
                            <label class="iswitch bg-primary iswitch-lg">
                                <input type="radio" name='switch3' checked>
                                <i></i>
                            </label>
                            <label class="iswitch bg-warning iswitch-lg">
                                <input type="radio" name='switch3'>
                                <i></i>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- END -->
            </div>
        </section>
    </div>
</div>
