<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Dashboard'; app.settings.showSideMenu = true; ">

    <section class="box nobox m-t-15 m-b-0">
        <div class="content-body">

            <div class="row">
                <div class="col-xs-12">

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
                        <div class="r4_counter wid-stats db_box">
                            <div class="stats-data">

                                <i class="fa fa-fw fa-money icon-rounded icon-success pull-left"></i>
                                <div class="stats">
                                    <h3>$3,422</h3>
                                    <span>Income</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
                        <div class="r4_counter wid-stats db_box">
                            <div class="stats-data">
                                <i class="fa fa-users icon-rounded icon-primary pull-left"></i>
                                <div class="stats">
                                    <h3>245K</h3>
                                    <span>Subscribers</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-xs-12 ">
                        <div class="r4_counter wid-stats db_box">
                            <div class="stats-data">
                                <i class="fa fa-fw fa-video-camera icon-rounded icon-accent pull-left"></i>
                                <div class="stats">
                                    <h3>12</h3>
                                    <span>Videos</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
                        <div class="r4_counter wid-stats db_box">
                            <div class='stats-data'>
                                <i class="fa fa-users icon-rounded icon-warning pull-left"></i>
                                <div class="stats">
                                    <h3>3550</h3>
                                    <span>Visitors</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12 col-md-6 m-t-20">

                        <div class="wid-sparkgraph bg-success">
                            <span class='bold'>28.95%</span>
                            <span class='pull-right'>
                                <small>Income Earned</small>
                            </span>
                            <div class="clearfix"></div>
                            <div ng-init="data2=[10, 8, 5, 7, 4, 4, 7, 5, 2, 8, 3, 4, 5, 10, 8, 7, 4, 7]" ui-jq="sparkline" ui-options="{{data2}}, {
                type: 'bar',
                barColor: '#fff',
                height: '52',
                barWidth: '18',
                barSpacing: 4,
                }" class="sparkline inline">
                                Loading...
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-12 col-md-6 m-t-20">

                        <div class="wid-sparkgraph bg-info">

                            <span class='bold'>542 / 115</span>

                            <span class='pull-right'>
                                <small>Total / Unique visitors</small>
                            </span>

                            <div class="clearfix"></div>

                            <div ng-init="data4=[
                [1, 2],[2, 3],[4, 2],[4, 5],[4, 1],[6, 4],[3, 2],[3, 6],[2, 2],[6, 2],[7, 4],[3, 4],[6, 4],[3, 2],[3, 6],[2, 2],[6, 2],[2, 2],[6, 2],[7, 4],[3, 4],[3, 7]
            ]" ui-jq="sparkline" ui-options="{{data4}}, {
                type: 'bar',
                barColor: '#f5f5f5',
                height: '52',
                barWidth: '16',
                barSpacing: 3,
                zeroAxis: false,
                negBarColor: '{{app.color.primary}}',
                zeroColor: '#666',
                stackedBarColor: ['#ffffff', '#1a8b99'],
                }" class="sparkline inline">
                                Loading...
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </section>


    <div class="col-xs-12">
        <section class="box">

            <header class="panel_header">
                <h2 class="title pull-left">SUBSCRIBERS</h2>
            </header>

            <div class="content-body p-t-20">
                <div class="row">

                    <div class="col-sm-8 col-xs-12 p-l-0 p-r-0">
                        <div class="r1_maingraph db_box">

                            <div class='graph-wrapper'>
                                <div class="col-md-12 col-sm-12 col-xs-12 padding-right-0" ng-controller="DashboardBarCtrl" style="overflow:hidden;">
                                    <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-colours="colours" style="width: 100% !important;height: 230px"></canvas>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 {{chartjs.show == 'radar' ? 'showit': 'hideit'}}" ng-controller="DashboardRadarCtrl">
                                    <canvas id="radar" class="chart chart-radar" chart-data="data" chart-labels="labels" chart-colours="colours"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12 progress_bars">
                        <h4>Subscribers</h4>
                        <span class='text-muted'><small>Last Week Rise by 62%</small></span>
                        <uib-progressbar value="85" class="progress progress-sm primary"></uib-progressbar>

                        <h4>Income</h4>
                        <span class='text-muted'><small>Up by 57% last 7 days</small></span>
                        <uib-progressbar value="70" class="progress progress-sm success"></uib-progressbar>

                        <!--<h4>Something Else</h4>
                        <span class='text-muted'><small>Last Month Rise by 22%</small></span>
                        <uib-progressbar value="28" class="progress progress-sm info"></uib-progressbar>-->
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-8">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Video Views / Unique Visitors</h2>
            </header>

            <div class="content-body p-t-45">
                <div class="row">
                    <div class="col-xs-12 p-l-0 p-r-0">
                        <div class="r1_maingraph db_box">

                            <div class='graph-wrapper'>
                                <div class="col-xs-12 p-r-0" ng-controller="DashboardLineCtrl" style="overflow:hidden;">
                                    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-options="options" chart-legend="false" chart-series="series" chart-click="onClick" chart-colours="colours" style="width: 100% !important;height: 230px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- To Do Widget -->
    <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="slant-widget slant-todo-task bg-primary m-t-15" ui-todowidget>

            <div class="wid-task-header">
                <div class="wid-icon">
                    <i class="fa fa-tasks"></i>
                </div>
                <div class="wid-text">
                    <h4>Build My City</h4>
                </div>
            </div>

            <div class="wid-all-tasks">
                <perfect-scrollbar class="ps-todo-widget" wheel-propagation="true" suppress-scroll-x="true" min-scrollbar-length="20">
                    <ul class="list-unstyled">
                        <li class="checked">
                            <label class="icheck icheck-label icheck-white form-label ">
                                <input type="checkbox" value="" checked>
                                <i></i> Complete Profile
                            </label>
                        </li>
                        <li>
                            <label class="icheck icheck-label icheck-white form-label ">
                                <input type="checkbox" value="">
                                <i></i> Upload A Video
                            </label>
                        </li>
                        <li>
                            <label class="icheck icheck-label icheck-white form-label ">
                                <input type="checkbox" value="">
                                <i></i> Add Payment Info
                            </label>
                        </li>
                        <li>
                            <label class="icheck icheck-label icheck-white form-label ">
                                <input type="checkbox" value="">
                                <i></i> Get Subscribers
                            </label>
                        </li>
                    </ul>
                </perfect-scrollbar>
            </div>

            <div class="wid-add-task">
                <input type="text" class="form-control" placeholder="Add task" />
            </div>

        </div>

    </div>

    <div class="clearfix"></div>

</div>
