<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Dashboard'; app.settings.showSideMenu = true; ">
    <section class="box nobox margin-top-15 margin-bottom-0">
        <div class="content-body">

            <div class="row">
                <div class="col-xs-12 ">

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
                        <div class="r4_counter wid-stats db_box">
                            <div class="stats-data">

                                <i class="fa fa-fw fa-money icon-rounded icon-success pull-left"></i>
                                <div class="stats">
                                    <h3>$3,422</h3>
                                    <span>Income</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
                        <div class="r4_counter wid-stats db_box">
                            <div class="stats-data">
                                <i class="fa fa-users icon-rounded icon-primary pull-left"></i>
                                <div class="stats">
                                    <h3>245K</h3>
                                    <span>Subscribers</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-xs-12 ">
                        <div class="r4_counter wid-stats db_box">
                            <div class="stats-data">
                                <i class="fa fa-fw fa-video-camera icon-rounded icon-accent pull-left"></i>
                                <div class="stats">
                                    <h3>12</h3>
                                    <span>Videos</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
                        <div class="r4_counter wid-stats db_box">
                            <div class='stats-data'>
                                <i class="fa fa-users icon-rounded icon-warning pull-left"></i>
                                <div class="stats">
                                    <h3>3550</h3>
                                    <span>Visitors</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <div class="col-xs-12">
        <section class="box">

            <header class="panel_header">
                <h2 class="title pull-left">SUBSCRIBERS</h2>
            </header>

            <div class="content-body p-t-20">
                <div class="row">
                    
                    <div class="col-sm-8 col-xs-12 p-l-0 p-r-0">
                        <div class="r1_maingraph db_box">

                            <div class='graph-wrapper'>
                                <div class="col-md-12 col-sm-12 col-xs-12 padding-right-0" ng-controller="DashboardBarCtrl" style="overflow:hidden;">
                                    <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-colours="colours" style="width: 100% !important;height: 230px"></canvas>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 {{chartjs.show == 'radar' ? 'showit': 'hideit'}}" ng-controller="DashboardRadarCtrl">
                                    <canvas id="radar" class="chart chart-radar" chart-data="data" chart-labels="labels" chart-colours="colours"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12 progress_bars">
                        <h4>Subscribers</h4>
                        <span class='text-muted'><small>Last Week Rise by 62%</small></span>
                        <uib-progressbar value="85" class="progress progress-sm primary"></uib-progressbar>

                        <h4>Income</h4>
                        <span class='text-muted'><small>Up by 57% last 7 days</small></span>
                        <uib-progressbar value="70" class="progress progress-sm success"></uib-progressbar>

                        <h4>Something Else</h4>
                        <span class='text-muted'><small>Last Month Rise by 22%</small></span>
                        <uib-progressbar value="28" class="progress progress-sm info"></uib-progressbar>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-xs-12 col-md-6">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Page Views / Unique Visitors</h2>
            </header>

            <div class="content-body padding-top-45">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 padding-left-0 padding-right-0">
                        <div class="r1_maingraph db_box">

                            <div class='graph-wrapper'>
                                <div class="col-md-12 col-sm-12 col-xs-12 padding-right-0" ng-controller="DashboardLineCtrl" style="overflow:hidden;">
                                    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-options="options" chart-legend="false" chart-series="series" chart-click="onClick" chart-colours="colours" style="width: 100% !important;height: 230px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="clearfix"></div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Visitor's Statistics</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-top-45">
                <div class="">
                    <div class="">
                        <div class="wid-vectormap">
                            <div class="row">
                                <div class="col-md-9 col-sm-9 col-xs-12 padding-left-10">
                                    <div class="col-md-12 col-sm-12 col-xs-12 padding-left-0" ng-controller="JVectorMapDemoCtrl">
                                        <div style="width: 100%; height: 300px;" ui-jq="vectorMap" ui-options="{
                        map: 'world_mill_en',
                        markers: {{world_markers}},
                        normalizeFunction: 'polynomial',
                        zoomOnScroll: false,
                        scaleColors: ['#1fb5ac', '#1fb5ac'],
                        hoverOpacity: 0.7,
                        hoverColor: false,
                        regionsSelectable: true,
                        markersSelectable: true,
                        markersSelectableOne: true,
                        panOnDrag: true,

                        focusOn: {
                            x: 0.5,
                            y: 0.5,
                            scale: 1,
                            animate: true
                        },
                        regionStyle: {
                            initial: {
                                fill: '#E91E63',
                                'fill-opacity': 0.8,
                                stroke: '#E91E63',
                                'stroke-width': 0,
                                'stroke-opacity': 0
                            },
                            hover: {
                                fill: '{{app.color.accent}}',
                                'fill-opacity': 1,
                                cursor: 'pointer'
                            },
                            selected: {
                                fill: '{{app.color.accent}}'
                            },
                            selectedHover: {}
                        },
                        markerStyle: {
                            initial: {
                                fill: '#3f51b5',
                                stroke: '#3f51b5',
                                r: 6
                            },
                            hover: {
                                stroke: '{{app.color.warning}}',
                                'stroke-width': 2,
                                cursor: 'pointer'
                            },
                            selected: {
                                fill: '{{app.color.warning}}',
                                'stroke-width': 0,
                            },
                        },
                        backgroundColor: '',

          }">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="clearfix"></div>

</div>
