<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Rickshaw - Bar & Stacked Charts';">
   
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">X axis</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12" ng-controller="RickshawCtrl">
                        <rickshaw rickshaw-options="options4" rickshaw-features="features4" rickshaw-series="series4">
                        </rickshaw>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Y axis</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12" ng-controller="RickshawCtrl">
                        <rickshaw rickshaw-options="options5" rickshaw-features="features5" rickshaw-series="series5">
                        </rickshaw>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
