<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Easy Pie Charts';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Easy Pie Charts</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div ui-jq="easyPieChart" ui-options="{
                    easing: 'easeOutBounce',
                    barColor: '{{app.color.primary}}',
                    trackColor: '#eaeaea',
                    scaleColor: '#cccccc',
                    lineCap: 'square',
                    lineWidth: 10,
                    size: 200,
                    animate: 2000,
                    percent: 66
                  }">
                                <div>
                                    <span class="text-primary h4">66%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div ui-jq="easyPieChart" ui-options="{
                    easing: 'easeInBounce',
                    barColor: '{{app.color.success}}',
                    trackColor: '#eaeaea',
                    scaleColor: '#ffffff',
                    lineCap: 'square',
                    lineWidth: 20,
                    size: 200,
                    animate: 2000,
                    percent: 52
                  }">
                                <div>
                                    <span class="text-primary h4">52%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div ui-jq="easyPieChart" ui-options="{
                    easing: 'easeInOut',
                    barColor: '{{app.color.accent}}',
                    trackColor: '#eaeaea',
                    scaleColor: '#ffffff',
                    lineCap: 'square',
                    lineWidth: 30,
                    size: 200,
                    animate: 2000,
                    percent: 78
                  }">
                                <div>
                                    <span class="text-primary h4">78%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div ui-jq="easyPieChart" ui-options="{
                    easing: 'easeOutCirc',
                    barColor: '#eaeaea',
                    trackColor: '{{app.color.warning}}',
                    scaleColor: '#cccccc',
                    lineCap: 'square',
                    lineWidth: 40,
                    size: 200,
                    animate: 2000,
                    percent: 72
                  }">
                                <div>
                                    <span class="text-primary h4">72%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
