<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Sparkline - Other Charts';">
    
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Discrete</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div ng-init="data8=[4, 6, 7, 7, 4, 3, 2, 1, 4, 4, 5, 6, 7, 6, 6, 2, 4, 5, 4, 4, 5, 6, 7, 6, 6, 2, 4, 5, 2, 1, 4, 4]" ui-jq="sparkline" ui-options="{{data8}}, {
                type: 'discrete',
                width: '280',
                height: '200',
                lineColor: '{{app.color.primary}}',
                lineHeight: 60,
                thresholdValue: 5,
                thresholdColor: '{{app.color.accent}}',
                }" class="sparkline inline">Loading...
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Tristate</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div ng-init="data8=[1, 1, 0, 1, -1, -1, 1, -1, 0, 0, 1, 1]" ui-jq="sparkline" ui-options="{{data8}}, {
                type: 'tristate',
                height: '200',
                posBarColor: '{{app.color.primary}}',
                negBarColor: '{{app.color.accent}}',
                zeroBarColor: '#E91E63',
                barWidth: 20,
                barSpacing: 2,
                zeroAxis: true
                }" class="sparkline inline">Loading...
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Box Plot</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div ng-init="data9=[4, 27, 34, 52, 54, 59, 61, 68, 78, 82, 85, 87, 91, 93, 100]" ui-jq="sparkline" ui-options="{{data9}}, {
                type: 'box',
                width: '100%',
                height: '200',
                raw: false,
                target: 27,
                minValue: 34,
                boxLineColor: '#E91E63',
                boxFillColor: '{{app.color.primary}}',
                whiskerColor: '{{app.color.accent}}',
                medianColor: '{{app.color.accent}}',
                targetColor: '{{app.color.accent}}'
                }" class="sparkline inline">Loading...
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Pie</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div ng-init="data9=[3, 4, 1, 2]" ui-jq="sparkline" ui-options="{{data9}}, {
                type: 'pie',
                width: '100%',
                height: '200',
                sliceColors: ['{{app.color.primary}}', '{{app.color.accent}}', '{{app.color.warning}}', '{{app.color.success}}'],
                offset: 0,
                borderWidth: 0,
                borderColor: '#00007f'
                }" class="sparkline inline">Loading...
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Bullet</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div ng-init="data10=[10, 12, 12, 9, 7]" ui-jq="sparkline" ui-options="{{data10}}, {
                type: 'bullet',
                height: '200',
                width: '100%',
                targetWidth: 10,
                targetColor: '{{app.color.warning}}',
                performanceColor: '#eaeaea',
                rangeColors: ['{{app.color.primary}}', '#E91E63', '{{app.color.accent}} ']
                }" class="sparkline inline">Loading...
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
