<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Flot - Line Charts';">
    <div class="col-lg-12" ng-controller="FlotChartCtrl">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Spline</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div ui-jq="plot" ui-options="
                  [
                    { data: {{chart1}}, points: { show: true, radius: 12}, splines: { show: true, tension: 0.15, lineWidth: 10, fill: 0 } }
                  ], 
                  {
                    colors: ['{{app.color.primary}}'],
                    series: { shadowSize: 7 },
                    xaxis:{ 
                      font: { color: '#ccc' },
                      position: 'top',
                      ticks: [
                        [ 1, 'Jan' ], [ 2, 'Feb' ], [ 3, 'Mar' ], [ 4, 'Apr' ], [ 5, 'May' ], [ 6, 'Jun' ], [ 7, 'Jul' ], [ 8, 'Aug' ], [ 9, 'Sep' ], [ 10, 'Oct' ], [ 11, 'Nov' ], [ 12, 'Dec' ]
                      ]
                    },
                    yaxis:{ font: { color: '#ccc' } },
                    grid: { hoverable: true, clickable: true, tickColor: '#f5f5f5', borderWidth: 1, borderColor: '#eaeaea' },
                    tooltip: true,
                    tooltipOpts: { content: '%x.1 is %y.4',  defaultTheme: false, shifts: { x: 0, y: 20 } }
                  }
                " style="height:270px">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
</div>
