<div class='content-wrapper' ng-controller="StoreController" ng-init="app.settings.pagetitle = 'My Store';">

    <section class="box nobox">
        <div class="content-body">

            <div class="row">
                <div class="col-lg-12">

                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Filterable Gallery</h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">

                                    <!-- start -->
                                    <div id='portfolio' class="">
                                        <div class="text-center">
                                            <ul class="portfolio-filter list-inline">
                                                <li><a class="btn btn-primary active" href="#" data-filter="*">All Works</a></li>
                                                <li><a class="btn btn-primary " href="#" data-filter=".creative">Creative</a></li>
                                                <li><a class="btn btn-primary " href="#" data-filter=".corporate">Corporate</a></li>
                                                <li><a class="btn btn-primary " href="#" data-filter=".portfolio">Portfolio</a></li>
                                            </ul><!--/#portfolio-filter-->
                                        </div>

                                        <div class="portfolio-items row">
                                            <div class="portfolio-item col-md-4 col-sm-6 col-xs-12  creative">
                                                <div class="portfolio-item-inner">
                                                    <img class="img-responsive" src="img/gallery/01.jpg" alt="">
                                                    <div class="portfolio-info animated fadeInUp animated-duration-600ms">
                                                        <h3>Portfolio Item 1</h3>
                                                        <span class='desc'>A brief description area for the portfolio item.</span>
                                                        <a class="preview" href="data/gallery/01.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                                    </div>
                                                </div>
                                            </div><!--/.portfolio-item-->

                                            <div class="portfolio-item col-md-4 col-sm-6 col-xs-12  corporate portfolio">
                                                <div class="portfolio-item-inner">
                                                    <img class="img-responsive" src="img/gallery/02.jpg" alt="">
                                                    <div class="portfolio-info animated fadeInUp animated-duration-600ms">
                                                        <h3>Portfolio Item 2</h3>
                                                        <span class='desc'>A brief description area for the portfolio item.</span>
                                                        <a class="preview" href="../data/gallery/02.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                                    </div>
                                                </div>
                                            </div><!--/.portfolio-item-->

                                            <div class="portfolio-item col-md-4 col-sm-6 col-xs-12  creative">
                                                <div class="portfolio-item-inner">
                                                    <img class="img-responsive" src="img/gallery/03.jpg" alt="">
                                                    <div class="portfolio-info animated fadeInUp animated-duration-600ms">
                                                        <h3>Portfolio Item 3</h3>
                                                        <span class='desc'>A brief description area for the portfolio item.</span>
                                                        <a class="preview" href="../data/gallery/03.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                                    </div>
                                                </div>
                                            </div><!--/.portfolio-item-->

                                            <div class="portfolio-item col-md-4 col-sm-6 col-xs-12  corporate">
                                                <div class="portfolio-item-inner">
                                                    <img class="img-responsive" src="img/gallery/04.jpg" alt="">
                                                    <div class="portfolio-info animated fadeInUp animated-duration-600ms">
                                                        <h3>Portfolio Item 4</h3>
                                                        <span class='desc'>A brief description area for the portfolio item.</span>
                                                        <a class="preview" href="../data/gallery/04.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                                    </div>
                                                </div>
                                            </div><!--/.portfolio-item-->

                                            <div class="portfolio-item col-md-4 col-sm-6 col-xs-12  creative portfolio">
                                                <div class="portfolio-item-inner">
                                                    <img class="img-responsive" src="img/gallery/05.jpg" alt="">
                                                    <div class="portfolio-info animated fadeInUp animated-duration-600ms">
                                                        <h3>Portfolio Item 5</h3>
                                                        <span class='desc'>A brief description area for the portfolio item.</span>
                                                        <a class="preview" href="../data/gallery/05.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                                    </div>
                                                </div>
                                            </div><!--/.portfolio-item-->

                                            <div class="portfolio-item col-md-4 col-sm-6 col-xs-12  corporate">
                                                <div class="portfolio-item-inner">
                                                    <img class="img-responsive" src="img/gallery/06.jpg" alt="">
                                                    <div class="portfolio-info animated fadeInUp animated-duration-600ms">
                                                        <h3>Portfolio Item 5</h3>
                                                        <span class='desc'>A brief description area for the portfolio item.</span>
                                                        <a class="preview" href="../data/gallery/06.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                                    </div>
                                                </div>
                                            </div><!--/.portfolio-item-->

                                            <div class="portfolio-item col-md-4 col-sm-6 col-xs-12  creative portfolio">
                                                <div class="portfolio-item-inner">
                                                    <img class="img-responsive" src="img/gallery/07.jpg" alt="">
                                                    <div class="portfolio-info animated fadeInUp animated-duration-600ms">
                                                        <h3>Portfolio Item 7</h3>
                                                        <span class='desc'>A brief description area for the portfolio item.</span>
                                                        <a class="preview" href="../data/gallery/07.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                                    </div>
                                                </div>
                                            </div><!--/.portfolio-item-->

                                            <div class="portfolio-item col-md-4 col-sm-6 col-xs-12  corporate">
                                                <div class="portfolio-item-inner">
                                                    <img class="img-responsive" src="img/gallery/08.jpg" alt="">
                                                    <div class="portfolio-info animated fadeInUp animated-duration-600ms">
                                                        <h3>Portfolio Item 8</h3>
                                                        <span class='desc'>A brief description area for the portfolio item.</span>
                                                        <a class="preview" href="../data/gallery/08.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                                    </div>
                                                </div>
                                            </div><!--/.portfolio-item-->
                                        </div>
                                    </div>
                                    <!-- end -->
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

        </div>
    </section>

    <div class="clearfix"></div>

</div>
