
<div class='content-wrapper' ng-controller="StoreCntrlr" ng-init="app.settings.pagetitle = 'My Store';">

    <div class="col-lg-12">
        <section class="box ">

            <div class="content-body p-b-15">

                <div class="row">
                    <div class="col-xs-12">

                        <div id="portfolio" class="grid">

                            <div class="text-center">
                                <ul class="portfolio-filter list-inline">
                                    <li><a class="btn btn-primary active" href="" data-filter="*">All Items</a></li>
                                    <li><a class="btn btn-primary " href="" data-filter=".tshirt">T-Shirts</a></li>
                                    <li><a class="btn btn-primary " href="" data-filter=".hats">Hats</a></li>
                                    <li><a class="btn btn-primary " href="" data-filter=".other">Other</a></li>
                                </ul><!--/#portfolio-filter-->
                            </div>

                            <div class="portfolio-items row">
                                <div class="portfolio-item col-md-4 col-sm-6 col-xs-12 tshirt">
                                    <div class="portfolio-item-inner">
                                        <img class="img-responsive" src="img/gallery/01.jpg" alt="">
                                        <div class="portfolio-info animated fadeInUp animated-duration-600ms">
                                            <h3>Portfolio Item 1</h3>
                                            <span class='desc'>A brief description area for the portfolio item.</span>
                                            <a class="preview" href="img/gallery/01.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div><!--/.portfolio-item-->

                                <div class="portfolio-item col-md-4 col-sm-6 col-xs-12 hats">
                                    <div class="portfolio-item-inner">
                                        <img class="img-responsive" src="img/gallery/02.jpg" alt="">
                                        <div class="portfolio-info animated fadeInUp animated-duration-600ms">
                                            <h3>Portfolio Item 2</h3>
                                            <span class='desc'>A brief description area for the portfolio item.</span>
                                            <a class="preview" href="img/gallery/02.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div><!--/.portfolio-item-->

                                <div class="portfolio-item col-md-4 col-sm-6 col-xs-12 tshirt">
                                    <div class="portfolio-item-inner">
                                        <img class="img-responsive" src="img/gallery/03.jpg" alt="">
                                        <div class="portfolio-info animated fadeInUp animated-duration-600ms">
                                            <h3>Portfolio Item 3</h3>
                                            <span class='desc'>A brief description area for the portfolio item.</span>
                                            <a class="preview" href="../data/gallery/03.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div><!--/.portfolio-item-->

                                <div class="portfolio-item col-md-4 col-sm-6 col-xs-12  hats">
                                    <div class="portfolio-item-inner">
                                        <img class="img-responsive" src="img/gallery/04.jpg" alt="">
                                        <div class="portfolio-info animated fadeInUp animated-duration-600ms">
                                            <h3>Portfolio Item 4</h3>
                                            <span class='desc'>A brief description area for the portfolio item.</span>
                                            <a class="preview" href="../data/gallery/04.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div><!--/.portfolio-item-->

                                <div class="portfolio-item col-md-4 col-sm-6 col-xs-12 tshirt other">
                                    <div class="portfolio-item-inner">
                                        <img class="img-responsive" src="img/gallery/05.jpg" alt="">
                                        <div class="portfolio-info animated fadeInUp animated-duration-600ms">
                                            <h3>Portfolio Item 5</h3>
                                            <span class='desc'>A brief description area for the portfolio item.</span>
                                            <a class="preview" href="../data/gallery/05.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div><!--/.portfolio-item-->

                                <div class="portfolio-item col-md-4 col-sm-6 col-xs-12  hats">
                                    <div class="portfolio-item-inner">
                                        <img class="img-responsive" src="img/gallery/06.jpg" alt="">
                                        <div class="portfolio-info animated fadeInUp animated-duration-600ms">
                                            <h3>Portfolio Item 5</h3>
                                            <span class='desc'>A brief description area for the portfolio item.</span>
                                            <a class="preview" href="../data/gallery/06.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div><!--/.portfolio-item-->

                                <div class="portfolio-item col-md-4 col-sm-6 col-xs-12  tshirt other">
                                    <div class="portfolio-item-inner">
                                        <img class="img-responsive" src="img/gallery/07.jpg" alt="">
                                        <div class="portfolio-info animated fadeInUp animated-duration-600ms">
                                            <h3>Portfolio Item 7</h3>
                                            <span class='desc'>A brief description area for the portfolio item.</span>
                                            <a class="preview" href="../data/gallery/07.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div><!--/.portfolio-item-->

                                <div class="portfolio-item col-md-4 col-sm-6 col-xs-12 hats">
                                    <div class="portfolio-item-inner">
                                        <img class="img-responsive" src="img/gallery/08.jpg" alt="">
                                        <div class="portfolio-info animated fadeInUp animated-duration-600ms">
                                            <h3>Portfolio Item 8</h3>
                                            <span class='desc'>A brief description area for the portfolio item.</span>
                                            <a class="preview" href="../data/gallery/08.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div><!--/.portfolio-item-->
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <div class="clearfix"></div>

    </div>
</div>
