<div class="col-lg-12 bgimg error_page bg-primary">
    <section class="box nobox">
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">

                    <h1 class="page_error_code text-light">503</h1>
                    <h1 class="page_error_info text-light">Oops! Service Unavailable</h1>

                    <div class="col-sm-6 col-xs-8 col-sm-offset-3 col-xs-offset-2">
                        <form action="javascript:;" method="post" class="page_error_search">
                            <div class="input-group accent" inputgroup>
                                <span class="input-group-addon" style="border-color:#fff;">
                                    <i class="material-icons icon-light" style='color:#fff;'>search</i>
                                </span>
                                <input type="text" class="form-control" placeholder="Try a new search" style='color:#fff;border-color:#fff;'>
                                <input type='submit' value="">
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
